[submodule "apps/hunger"]
	path = apps/hunger
	url = https://github.com/uplionsserve/hunger.git
[submodule "apps/uplionsserve"]
	path = apps/uplionsserve
	url = https://github.com/uplionsserve/uplionsserve.git
[submodule "apps/childhood-cancer"]
	path = apps/childhood-cancer
	url = https://github.com/uplionsserve/childhood-cancer.git
