---
import SiteLayout from "src/layouts/SiteLayout.astro";
---

<SiteLayout
    title="Disclaimer"
    robots={false}
    >
    <main id="cause" class="cause">
        <div id="top"></div>
        <section>
            <div class="programBanner introBanner infoPage">
                <h1>Disclaimer</h1>
                <p>The content and views shared on UPlionsserve.org is provided for information purposes only and is not intended to be a substitute for professional medical advice, diagnosis, or treatment.<br><br>Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.<br><br>If you think you may have a medical emergency, call your  doctor or 911.<br><br>It is our sincere hope that the resources here will assist you, inform you, guide you and inspire you!<br><br><b><span >UPlionsserve.org Team</span></b></p>
            </div>
        </section>
        <footer>
            <section class="globalcauses">
               <div class="shadow2">
                      <div class="roundedbox">
                         <p>Bringing diverse people together to serve their communities is what Lions Clubs are all about. Become part of the largest service and humanitarian organization in the world. Lions and Leos are raising awareness for our causes around the world.<br><br><span class="bold1">Interested in learning more about our 5 global causes?</span></p>
                         <a href="https://www.lionsclubs.org/en/explore-our-clubs/our-global-causes"><img src="media/causes.svg" alt="causes" id="causes"></a>
                         <img src="media/planet.png" alt="planet" id="causesplanet">
                    </div>
               </div>
            </section>
            <section>
                <a href="/"><img src="media/brand/Logo-UPLS-White.svg" alt="U.P. Lions Serve Logo"></a>
                <div class="programBanner footerButtons">
                    <a href="#top" class="lm">Disclaimer</a>
                    <a href="https://www.lionsclubs.org/en/footer/privacy-policy" class="lm">Privacy Policy</a>
                    <a href="mailto:contact@uplionsserve.org" class="lm">Contact Us</a>
                </div>
            </section>
        </footer>
    </main>
</SiteLayout>