---
import SiteLayout from "@layouts/SiteLayout.astro";
import Menu from "@components/Menu.svelte";
---

<SiteLayout title="Test">
    <Menu />
    <main style="height: 3000px;">

    </main>
</SiteLayout>